*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.search{
    --padding: 14px;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    display: none;
}
.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0,0.75);
}
.search-input{
    font-size: 16px;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background-color: transparent;
    width: 300px;
}
#name{
    font-weight: 600;
    color: #3b3b3b;
    display: none;
}
#hname{
    font-weight: 600;
    color: #3b3b3b;
}
#fonts{
    color: grey;
}
#fontss{
    color: grey;
}
.search button{
    border: none;
    background-color: transparent;
}
.headertop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}
#links{
    text-decoration: none;
    color: grey;
    font-size: x-small;
}
#links1{
    text-decoration: none;
    color: grey;
    display: none;
}
#links2{
    text-decoration: none;
    color: grey;
    display: none;
}
#links3{
    text-decoration: none;
    color: grey;
    display: none;
}
.hright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.headerbottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border-bottom: 1px solid rgb(169, 168, 168);
}
header{
    width: 100%;
}
#briefing{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2rem;
    margin-top: 1rem;
}
#Top{
    text-decoration: none;
    color: rgb(63, 63, 226);
}
#top{
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    color: rgb(63, 63, 226);
    padding-bottom: 0.5rem;
}
#mint{
    font-weight: 900;
    font-size: large;
    color: rgb(255, 186, 59);
}
#mintleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    width: 100px;
}
#mintright{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100px;
    padding-top: 1rem;
    margin-left: 2rem;
    display: none;
}
#court{
    width: 100%;
}
#time{
    font-size: small;
    color: rgb(99, 98, 98);
}
.mint{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-top: 1px solid grey;
}
.stories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
   background-color: rgb(210, 210, 210);
   padding-bottom: 0.5rem;
   padding-left: 0.5rem;
   width: 200px;
   margin-bottom: 1rem;
}
#rahul{
    width: 100%;
}
#ndtv{
    color: white;
    font-weight: 900
}
#local{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: rgb(40, 156, 69);
    padding-top: 0.1rem;
}
#Tops{
    text-decoration: none;
    color: rgb(40, 156, 69);
}
#wheel{
    width: 50%;
}
.localnews{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.3rem;
    width: 260px;
    background-color: rgb(210, 210, 210);
    padding: 0.5rem 1rem;
    height: 44rem;
    border-radius: 0.5rem;
    display: none;
}
#small{
    border-top: 1px solid rgb(116, 113, 113);
    padding-top: 1rem;
}
.mainfirst{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#link{
text-decoration: none;
color: rgb(46, 46, 46);
}
#small{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.3rem;
}
#smalll{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.3rem;
    border-top: 1px solid rgb(116, 113, 113);
    padding-top: 1rem;
    display: none;
}
#india{
    text-decoration: none;
    color: rgb(38, 38, 38);
}
#first{
    color: rgb(92, 91, 91);
    display: flex;
    align-items: center;
    padding: 0.3rem;
}
#jus{
    width: 40%;
}
#judge{
    width: 200px;
    border-top: 1px solid rgb(109, 109, 109);
    padding-top: 0.5rem;
}
.india{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: fl;
    background-color: rgb(186, 185, 185);
    width: 220px;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    gap: 1rem;
    margin-left: 2rem;
}
.topics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
}
#color{
    color: rgb(20, 128, 20);
}
#colors{
    color: rgb(212, 28, 28);
}
#nifty{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    border-color: white;
    border-radius: 0.5rem;
    background-color: white;
}
#judgee{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top: 1px solid rgb(98, 97, 97);
    padding-top: 1rem;
}
footer button{
    background-color: rgb(123, 177, 238);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: larger;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 380px) and (max-width: 600.99px) {
    /* Your styles for small screens go here */
    #links1{
        display: flex;
        font-size: small;
    }
    #links{
        font-size: small;
    }
   
}


/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 601px) {
    /* Your styles for medium screens go here */
    #name{
        display: flex;
    }
    .stories{
        width: 700px;
    }
    #mintright{
        display: flex;
        width: 400px;
    }
    #mintleft{
        width: 200px;
    }
  
    #hname{
        display: none;
    }
    #fontss{
        display: none;
    }
    .search{
        display: flex;
    }
    #links{
        font-size: small;
    }
    #links2{
        display: flex;
        font-size: small;
    }
    .india{
        width: 480px;
    }
    #judge{
        width:460px;
    }
    #judgee{
        flex-direction: row;
    }
    
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
    /* Your styles for large screens go here */
    .stories{
        width: 990px;
    }
    #mintright{
        display: flex;
        width: 600px;
    }
    #mintleft{
        width: 300px;
    }
    .india{
        width: 500px;
    }
    #judge{
        width: 480px;
    }
    .headerbottom{
        gap: 2rem;
       }
    
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
    .stories{
        width: 1300px;
    }
    #mintright{
        display: flex;
        width: 800px;
    }
    #mintleft{
        width: 400px;
    }
    .localnews{
        display: flex;
    }
    .topics{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       }
       .headerbottom{
        gap: 2.5rem;
       }
      
}
@media (min-width: 1400px){
    #smalll{
        display: flex;
    }
   .headerbottom{
    gap: 3rem;
   }
}